IniConfig/sketch/IniConfig.Editor/IniConfig.Editor/IniConfig.EditorScreens/SampleData/ElementsDataSource/ElementsDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.ElementsDataSource" targetNamespace="Expression.Blend.SampleData.ElementsDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ElementsDataSource" type="tns:ElementsDataSource" />
  <xs:complexType name="ElementsDataSource">
    <xs:sequence>
      <xs:element name="Elements" type="tns:Elements" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Elements">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ElementsItem" type="tns:ElementsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementsItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Value" type="xs:double" />
    <xs:attribute name="Remarks" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Type" type="xs:string" />
  </xs:complexType>
</xs:schema>