IniConfig/sketch/IniConfig.Editor/IniConfig.Editor/IniConfig.EditorScreens/SampleData/RecentFilesDataSource/RecentFilesDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.RecentFilesDataSource" targetNamespace="Expression.Blend.SampleData.RecentFilesDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RecentFilesDataSource" type="tns:RecentFilesDataSource" />
  <xs:complexType name="RecentFilesDataSource">
    <xs:sequence>
      <xs:element name="RecentFiles" type="tns:RecentFiles" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecentFiles">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="RecentFilesItem" type="tns:RecentFilesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RecentFilesItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="FilePath" type="xs:string" />
  </xs:complexType>
</xs:schema>