IniConfig/sketch/IniConfig.Editor/IniConfig.Editor/IniConfig.EditorScreens/SampleData/SectionsDataSource/SectionsDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SectionsDataSource" targetNamespace="Expression.Blend.SampleData.SectionsDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SectionsDataSource" type="tns:SectionsDataSource" />
  <xs:complexType name="SectionsDataSource">
    <xs:sequence>
      <xs:element name="Sections" type="tns:Sections" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Sections">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SectionsItem" type="tns:SectionsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SectionsItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>